asgiref==3.3.1
DateTime==4.3
Django==3.1.5
django-crispy-forms==1.11.1
fanstatic==1.1
javascript==2015.32.59
js==1.0
numpy==1.19.5
pytz==2020.5
shutilwhich==1.1.0
sqlparse==0.4.1
WebOb==1.8.7
zope.interface==5.2.0
