{% extends "main/header.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>contacts</title>
</head>
<body>
    <center>
    <p><font face="product sans">contacts</font></p>
    <br>
    <br>
    <h2><font face="product sans">email: bookshop24@mail.kz</font></h2>
    <h2><font face="product sans">tel: +7 702 228 22 88</font></h2>
    <h2><font face="product sans">tel: +7 701 228 22 88</font></h2>
    <h2><font face="product sans">address: Almaty, Nazarbayev street 228 </font></h2>
    <BR>
    <br>
    </center>   
<h4><font face="product sans">your faithfully, bookshop24 </font></h4>

    
</body>

{% endblock %}